{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="white-space: pre-wrap">
        <table   class="main-table" id="main-table" width="100%">
            <tr class="table-string" >
                <th class="title-table title-base" colspan="2"> Всё не случайно&nbsp; ;) &nbsp;&nbsp;&nbsp;  <img src="{% static 'my_app/lines.png' %}" width="30" height="30" >
                </th>
            </tr>
            <tr class="main-table">
                <th class="title-table title-base"   width="70%">
                    <a href="../">  Главная&nbsp;</a> |
                    <a href="/info"> Абоны </a>&nbsp;|
                    <a href="/gazprom"> Газпром&nbsp;</a> |
                    <a href="/key"> Список ключей&nbsp;</a> |
                    <a href="/accident"> Инциденты&nbsp;</a> |
                    <a href="/base_station"> Базовые&nbsp;</a> |
                    <a href="/manual"> Мануалы </a>&nbsp;|
                    <a href="/fttx"> Инфо Fttx </a>&nbsp;|
                    <a href="/analutics"> Аналитика Fttx </a>|&nbsp;
                    <a href="/filewiever"> Файлы </a>&nbsp;
                </th>
                <th class="title-table title-base" width="350">
                    <form method="get" action="{% url 'search' %}">
                        <p data-tooltip="
 Первое, тэг, потом параметры поиска
 &darr; &rarr; инфо, фио абонента - поиск в абонентах
 &darr; &rarr; инцидент, фамилия - поиск в инцидентах
 &darr; &rarr; мануал, модель - поиск в инструкциях
 &darr; &rarr; fttx, город, улица, номер дома - инфо по адресу
 &darr; &rarr; ключ, город, улица, номер дома - ключ по адресу
                        ">
                            Быстрый поиск через тэг
                        </p>
                        <input type="text" name="q" placeholder="Поиск...">
                        <button type="submit">Поиск</button>
                    </form>
                </th>
            </tr>
            <tr class="table-string" >
                <th class="title-table title-base" colspan="2">
                    {% block content %}{% endblock %}
                </th>
            </tr>
        </table>
    </div>
</nav>
</body>




