{% extends "index/base.html" %}
{% block content %}

<table><tr VALIGN=top><th width="40%">
        <table class="main-table table-item" >

        {% for index in page_obj %}
        <tr class="table-string" VALIGN=top>
            <th class="title-table table-item th-item" width="150">{{ index.date_created|date:'Y-m-d H:i' }}</th>
            <th class="title-table table-item th-item"><a class="nav-link" href="{% url 'index-detail' index.id %}">
                {{ index.title|safe }}
            </a>
            </th>
        </tr>
        {% endfor %}
         <tr class="table-string">
            <th class="title-table table-item th-item" colspan="3">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo;В начало</a>      |
                            <a href="?page={{ page_obj.previous_page_number }}">предыдущая страница</a>
                        {% endif %}
                    <span class="current">
                        страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}      |
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">следующая страница</a>      |
                        <a href="?page={{ page_obj.paginator.num_pages }}">в конец &raquo;</a>
                    {% endif %}
                </span>
            </div>
            </th></tr>

            <tr class="table-string" VALIGN=top>
            <th class="title-table table-item th-item" width="150" colspan="3"><br>Статистика на текущий год
            </th></tr>
            <tr>
            <th valign="top" colspan="3">
                <canvas id="myPolarAreaChart"></canvas>
    <script>
        const ctx = document.getElementById('myPolarAreaChart').getContext('2d');
        const myPolarAreaChart = new Chart(ctx, {
            type: 'polarArea',
            data: {
                labels: ['январь', 'февраль', 'март', 'апрель', 'май', 'июнь',
                'июль', 'август', 'сентябрь', 'октябрь', 'ноябрь', 'декабрь'],
                datasets: [{
                    label: 'Графика fttx на текущий год',
                    data: {{ date }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(255, 205, 86, 0.6)',
                        'rgba(255,255,0, 0.6)',
                        'rgba(0,255,0, 0.6)',
                        'rgba(148,0,211, 0.6)',
                        'rgba(205,133,63, 0.6)',
                        'rgba(102,205,170, 0.6)',
                        'rgba(95,158,160, 0.6)',
                        'rgba(192,192,192, 0.6)',
                        'rgba(255,0,255, 0.6)',
                        'rgba(255,160,122, 0.6)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 205, 86, 1)',
                        'rgba(255,255,0, 1)',
                        'rgba(0,255,0, 1)',
                        'rgba(148,0,211, 16)',
                        'rgba(205,133,63, 1)',
                        'rgba(102,205,170, 1)',
                        'rgba(95,158,160, 1)',
                        'rgba(192,192,192, 1)',
                        'rgba(255,0,255, 1)',
                        'rgba(255,160,122, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    r: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
        </th></tr>
       {% for row in result_cable %}
        <tr class="table-string" VALIGN=top>
            <th class="title-table table-item th-item" width="150" colspan="7">На {{ row.month|date:'Y-m-d' }} использовано
                {{ row.total_amount }} метров utp 5e</th>

        </tr>
        {% endfor %}
    </table>

</th><th width="60%">

    <table  >

        {% for fttx in data_list %}
        <tr class="table-string">
            <th class="title-table table-item th-item"> {{ fttx.id|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.reestr|safe }}
            <th class="title-table table-item th-item"> {{ fttx.date_created|date:'Y-m-d' }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.city|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.street|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.home|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.apartment|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.name|safe }}
            </th>
        </tr>

        {% endfor %}

        <tr class="table-string">
            <th class="title-table table-item th-item" colspan="11">
                <div class="pagination">
                    <span class="step-links">
                        {% if data_list.has_previous %}
                            <a href="?pag=1">&laquo;&laquo;&laquo; </a> |
                            <a href="?pag={{ data_list.previous_page_number }}">previous</a>
                        {% endif %}
                    <span class="current">
                        страница {{ data_list.number }} из {{ data_list.paginator.num_pages }} |
                    </span>
                    {% if data_list.has_next %}
                        <a href="?pag={{ data_list.next_page_number }}">next</a> |
                        <a href="?pag={{ data_list.paginator.num_pages }}"> &raquo;&raquo;&raquo;</a>
                    {% endif %}
                </span>
            </div>
            </th>
        </tr>
        <tr>
        <tr class="table-string" VALIGN=top>
            <th class="title-table table-item th-item" width="150"  colspan="7"><br>Открытые инциденты
            </th>
        </tr>
        {% for inc in accident %}
        <tr class="table-string" >
            <th class="title-table table-item th-item"> {{ inc.id|safe }}
            </th>
            <th class="title-table table-item th-item">
                <a class="nav-link" href="{% url 'accident-detail' inc.id %}">
                    {{ inc.number|safe }}
                </a>
            </th>

            <th class="title-table table-item th-item"> {{ inc.sla|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ inc.datetime_open|date:'Y-m-d H:i' }}
            </th>
            <th class="title-table table-item th-item"> {{ inc.datetime_close|date:'Y-m-d H:i' }}
            </th>
            <th class="title-table table-item th-item"> {{ inc.city|safe }}
            </th>
             <th class="title-table table-item th-item">{{ inc.address|safe }}
            </th>

            <th class="title-table table-item th-item"> {{ inc.status|safe }}
            </th>
        </tr>

        {% endfor %}

         <tr class="table-string">
            <th class="title-table table-item th-item" colspan="7">
                <div class="pagination">
                    <span class="step-links">
                        {% if accident.has_previous %}
                            <a href="?pag=1">&laquo;&laquo;&laquo; </a> |
                            <a href="?pag={{ accident.previous_page_number }}">previous</a>
                        {% endif %}
                    <span class="current">
                        страница {{ accident.number }} из {{ accident.paginator.num_pages }} |
                    </span>
                    {% if accident.has_next %}
                        <a href="?pag={{ accident.next_page_number }}">next</a> |
                        <a href="?pag={{ accident.paginator.num_pages }}"> &raquo;&raquo;&raquo;</a>
                    {% endif %}
                </span>
            </div>
            </th>
        </tr>
        <tr class="table-string" VALIGN=top>
            <th class="title-table table-item th-item" width="150" colspan="7"><br>Инциденты в статусе проверки
            </th>
        </tr>
        {% for inc in check %}
        <tr class="table-string" >
            <th class="title-table table-item th-item"> {{ inc.id|safe }}
            </th>
            <th class="title-table table-item th-item">
                <a class="nav-link" href="{% url 'accident-detail' inc.id %}">
                    {{ inc.number|safe }}
                </a>
            </th>
            <th class="title-table table-item th-item"> {{ inc.sla|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ inc.datetime_open|date:'Y-m-d H:i' }}
            </th>
            <th class="title-table table-item th-item"> {{ inc.datetime_close|date:'Y-m-d H:i' }}
            </th>
            <th class="title-table table-item th-item"> {{ inc.city|safe }}
            </th>
             <th class="title-table table-item th-item">{{ inc.address|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ inc.status|safe }}
            </th>
        </tr>

        {% endfor %}

         <tr class="table-string">
            <th class="title-table table-item th-item" colspan="11">
                <div class="pagination">
                    <span class="step-links">
                        {% if check.has_previous %}
                            <a href="?pag=1">&laquo;&laquo;&laquo; </a> |
                            <a href="?pag={{ check.previous_page_number }}">previous</a>
                        {% endif %}
                    <span class="current">
                        страница {{ check.number }} из {{ check.paginator.num_pages }} |
                    </span>
                    {% if check.has_next %}
                        <a href="?pag={{ check.next_page_number }}">next</a> |
                        <a href="?pag={{ check.paginator.num_pages }}"> &raquo;&raquo;&raquo;</a>
                    {% endif %}
                </span>
            </div>
            </th>
        </tr>
    </table>

{% endblock %}

</th>
</tr>
</table>