{% extends "index/base.html" %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <table class="main-table table-item">
        <tr><th><table width="80%">
        {% for fttx in info_list %}
        <tr class="table-string">
            <th class="title-table table-item th-item"> {{ fttx.reestr|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.full_name|safe }}
            <th class="title-table table-item th-item"> {{ fttx.date_created|date:'Y-m-d' }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.city|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.street|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.home|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.apartment|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.name|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.cable_1|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.cable_2|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.cable_3|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ fttx.connector|safe }}
            </th>
        </tr>
        {% endfor %}

        <tr class="table-string">
            <th class="title-table table-item th-item" colspan="11">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo;В начало</a>      |
                            <a href="?page={{ page_obj.previous_page_number }}">предыдущая страница</a>
                        {% endif %}
                    <span class="current">
                        страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}      |
                    </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">следующая страница</a>      |
                    <a href="?page={{ page_obj.paginator.num_pages }}">в конец &raquo;</a>
                {% endif %}
            </span>
        </div>
        </th>
        </tr>
        </table>
        </th>
        <th  valign="top" width="20%">
            <table align="right">
            <tr class="table-string">
            <th class="title-table table-item th-item"  rowspan="500" valign="top">
            <a class="nav-link" href="{% url 'download_actual_csv' %}" >  Скачать в csv текущий месяц
                </a>
            <br>
                <a class="nav-link" href="{% url 'date_range' %}" >  Перейти к выбору дат
                </a>
            <br>
        </th>
        </tr>
    </table>
</th></tr>
    </table>

{% endblock %}

