{% extends "index/base.html" %}
 {% block content %}



<table>
        <tr class="table-string">
            <th class="title-table table-item th-item" width="300" valign="top">
                <strong>Гомель</strong><br>
                {% include 'filewiever/menu.html' %}
            </th>
            <th class="title-table table-item th-item" valign="top">
                <br>
                Конфигурации оборудования
                <br>
                {% for file in files_dlink %}
                    <br>
                    <a href="{% url 'file_download_dlink' file=file %}">{{ file }}</a>
                {% endfor %}
                {% for file in files_ubiquity %}
                    <br>
                    <a href="{% url 'file_download_ubiquity' file=file %}">{{ file }}</a>
                {% endfor %}
                {% for file in files_client %}
                    <br>
                    <a href="{% url 'file_download_client' file=file %}">{{ file }}</a>
                {% endfor %}
                {% for file in files_railway %}
                    <br>
                    <a href="{% url 'file_download_railway' file=file %}">{{ file }}</a>
                {% endfor %}
                {% for file in files_instruction %}
                    <br>
                    <a href="{% url 'file_download_instruction' file=file %}">{{ file }}</a>
                {% endfor %}

            </th>
        </tr>
</table>

 {% endblock %}