
 <table class="main-table table-item" width="300">
        <tr class="table-string">
            <th class="title-table table-item th-item">
                <a class="nav-link" href="{% url 'dlink_gomel_list' %}">    D-link
                </a>

                <a class="nav-link" href="{% url 'ubiquity_gomel_list' %}">  Ubiquity
                </a>

                <a class="nav-link" href="{% url 'lte_client_list' %}">  Клиентские
                </a>

                <a class="nav-link" href="{% url 'huawei_railway_gomel_list' %}">  БелЖД
                </a>

                <a class="nav-link" href="{% url 'instruction_gomel_list' %}">  Инструкции
                </a>
            </th>
        </tr>
        </table>