{% extends "index/base.html" %}
{% block content %}

    <table class="main-table">
        <tr class="table-string">
            <th class="title-table table-item th-item" width="50"> ID
            </th>
            <th class="title-table table-item th-item" width="150"> Город
            </th>
            <th class="title-table table-item th-item" width="150"> Улица
            </th>
            <th class="title-table table-item th-item" width="100"> Дом
            </th>
            <th class="title-table table-item th-item"> Количество подьездов
            </th>
            <th class="title-table table-item th-item"> Ключ индивидуальный
            </th>
            <th class="title-table table-item th-item"> Ключ стандартный
            </th>
        </tr>
        <tr class="table-string">
            <th class="title-table table-item th-item"> {{ key.id|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ key.city|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ key.street|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ key.home|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ key.entrance|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ key.ind|safe }}
            </th>
            <th class="title-table table-item th-item"> {{ key.stand|safe }}
            </th>
        </tr>


    </table>


{% endblock %}
